<div class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" href="/"><span class="fa fa-cutlery"></span>Herkkujemma</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%if(locals.nav && nav=='index'){%>active<%}%>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <%if(locals.nav && nav=='recipes'){%>active<%}%>">
        <a class="nav-link" href="/recipes">Recipes</a>
      </li>
      <li class="nav-item <%if(locals.nav && nav=='chefs'){%>active<%}%>">
        <a class="nav-link" href="/chefs">Chefs</a>
      </li>
      <li class="nav-item <%if(locals.nav && nav=='about'){%>active<%}%>">
        <a class="nav-link" href="/about">About</a>
      </li>
     <% if(locals.loggedIn) { %>
      <li class="nav-item <%if(locals.nav && nav=='me'){%>active<%}%>">
        <a class="nav-link" href="/chefs/me">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } else { %>
        <a class="nav-link" href="/login">Login</a>
      <% } %>
      <li class="nav-item">
        <a class="nav-link" href="/recipes/add">Add recipe</a>
      </li>
    </ul>
    <form method="GET" action="/recipes/search" class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" name="name" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>
