# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Temp dev playground
playground/

# Secrets config file, use config.json.example to create your own
config.json
server-config.js
.env
data-hj-ejs/
