<!doctype html>
<html lang="en">
<head>
  <%- include ./partials/head %>
</head>
<body>

<%- include ./partials/header %>

  <div class="card w-75">
    <div class="card-body">
    <h2 class="display-3">About Herkkujemma</h2>
    <p class="lead">Herkkujemma is a recipe sharing website built to experiment with node.js.</p>
    <hr class="my-4">
    <p>Contact information and FAQ still missing...</p>
    </div>
  </div>

<%- include ./partials/footer %>

</body>
</html>
